.menu-button {
    -fx-pref-width: 400;
    -fx-pref-height: 67;
    -fx-padding: 10;

    -fx-cursor: hand;
}

.close-button {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-padding: 5;

    -fx-cursor: hand;
}


/* Pop-Up Header */
.popup-header {
    -fx-text-fill: #5c7fae;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Difficulty Slider */
.difficulty-slider .thumb {
    -fx-background-color: #cdcdcd;
    -fx-background-radius: 12;
    -fx-border-radius: 10;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgb(68, 68, 68), 7, 0, 0, 3);
}

.difficulty-slider .track {
    -fx-background-color: #446187;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-pref-width: 800;
    -fx-pref-height: 15;
    -fx-cursor: hand;
}

.difficulty-slider .axis {
    -fx-tick-label-fill: #446187;
    -fx-tick-label-font: bold 14px "Arial Narrow";
}

/* Spinner */


/* Text Flow */
.text-flow {
    /*-fx-text-fill: #5282b3;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

